body {
	background-color: #e2e2e2;
	height: 100%;
}
h2 {
	color: #02385A;
}

/* Carousel base class */
.carousel {
  margin-bottom: 30px;
  margin-top: -100px;
}

.carousel-caption {
  z-index: 10;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

.carousel .item {
  margin-top: 0px;
  height: 350px;
  background-color: #777;
  border-bottom: 1px #bCbcbc solid;

}
.carousel a {

}
#firstSlide {
 overflow: hidden;
/* background-image: url("../img/noisy_grid.png");*/
 background-color: #FCFCFC;
}
.carousel p {
	color: #02375A;
	text-shadow: none;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #FCFCFC;
  border-top: 1px #bCbcbc solid;
}

.container .credit {
  margin: 20px 0;
  color: #02385A;
}
.container .credit a {
	color: #02385A;
	text-decoration: none;
}
.btn-primary {
	background-color: #A0D47E;
	border-color: #74C043;
}
.btn-primary:hover {
	background-color: #02385A;
	border-color: #02385A;
}